.restaurants {
  width: 80%;
  margin: 0 auto;
  &__h2 {
    text-align: center;
    font-size: 3rem;
    color: $yellow;
  }
  &__item {
    display: inline-block;
    width: 33%;
    margin-bottom: 3rem;
    cursor: pointer;
    img,
    p {
      width: 90%;
      margin-left: 5%;
    }
    img {
      height: 13rem;
    }
    h3 {
      color: $primary;
      text-align: center;
      font-size: 1.5rem;
    }
  }
}
