$white: #fff;
$gray-100: #eee;
$gray-200: #ddd;
$gray-300: #c9c9cc;
$gray-400: #a1a1a4;
$gray-500: #888;
$gray-600: #333;
$black: #000;

$red: #ed1c24;
$dark-red: #d01219;
$yellow: #ffc418;
$orange: #f68c1f;
$light-green: #a3cf62;
$green: #00a85f;
$light-blue: #53b7e8;
$dark-blue: #043776;
$carbon: #707073;

$primary: #f36a1a;
$primary-font: "Poppins", sans-serif;
